{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patience Information Management System</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body>
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                           <a style="font-size: 15px; color: #fff; text-transform: uppercase; letter-spacing: 2px" class="d-block" href="{% url 'home_page' %}" rel="home">
                                Mautech Clinic Datamining Tool
                           </a>
                        </div>

                        <!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                <li><a href="{% url 'home_page' %}">Home</a></li>
                                <li class="current-menu-item"><a href="{% url 'add_patient' %}">Register Student</a></li>
                                <li><a href="{% url 'logout' %}"> {{ request.user|title }} (Logout)</a></li>
                            </ul>
                        </nav>

                        <!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->

    </header><!-- .site-header -->
        <div class="homepage-boxes">
        <div class="container">
            {% if form.errors %}
                <span class="alert-danger">{{ form.errors }}</span>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <span class="alert-success">{{ message }}</span>
                {% endfor %}
            {% endif %}
            <form method="POST" action="{% url 'add_patient' %}">{% csrf_token %}
                <div>
                 <div class="col-12 col-md-6 col-lg-12">
                        <div class="opening-hours">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputEmail4">ID Number</label>
                                    <input type="text" name="idnumber" class="form-control" id="inputEmail4" placeholder="ID Number">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="opening-hours">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Firstname</label>
                                    <input type="text" name="firstname" class="form-control" id="inputEmail4" placeholder="Firstname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Lastname</label>
                                    <input type="text" name="lastname" class="form-control" id="inputPassword4" placeholder="Lastname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="opening-hours">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Othername</label>
                                    <input type="text" name="othername" class="form-control" id="inputEmail4" placeholder="Othername">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Address</label>
                                    <input type="text" name="address" class="form-control" id="inputPassword4" placeholder="Address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="opening-hours">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Sickness</label>
                                    <input type="text" name="sickness" class="form-control" id="inputEmail4" placeholder="Sickness">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Medication</label>
                                    <input type="text" name="medication" class="form-control" id="inputPassword4" placeholder="Medication">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second Row -->

                <br>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="opening-hours">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">School</label>
                                    <select name="school" class="form-control">
                                        <option value="SMIT">SMIT</option>
                                        <option value="SAAT">SAAT</option>
                                        <option value="STSE">STSE</option>
                                        <option value="SEES">SEES</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Department</label>
                                    <select name="department" class="form-control">
                                        <option value="Information Technology">Information Technology</option>
                                        <option value="Accountancy">Accountancy</option>
                                        <option value="Management">Management Technology</option>
                                        <option value="Econommics">Economics</option>
                                        <option value="Banking & Finance">Banking & Finance</option>
                                        <option value="Library & Info. Science">Library & Info. Science</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="opening-hours">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Level</label>
                                    <select name="level" class="form-control">
                                        <option value="100 L">100 Level</option>
                                        <option value="200 L">200 Level</option>
                                        <option value="300 L">300 Level</option>
                                        <option value="400 L">400 Level</option>
                                        <option value="500 L">500 Level</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Hall</label>
                                    <select name="hall" class="form-control">
                                        <option value="Nana Asma'u">Nana Asma'u</option>
                                        <option value="Oba Adetola">Oba Adetola</option>
                                        <option value="Chukwu">Chukwu</option>
                                        <option value="New Hostel Girls">New Hostel Girls</option>
                                        <option value="New Hostel Boys">New Hostel Boys</option>
                                        <option value="Kabiru Umar">Kabiru Umar </option>
                                        <option value="Abuja Hostel">Abuja Hostel</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="opening-hours">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Phone</label>
                                    <input name="phone" type="tel" class="form-control" id="inputEmail4" placeholder="Phone">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Date of Birth</label>
                                    <input name="dob" type="date" class="form-control" id="inputPassword4" placeholder="Date of Birth">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button class="button gradient-bg" type="submit">
                    Proceed
                </button> 
            </form>
        </div>
    </div>

    <script type='text/javascript' src="{% static 'js/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.collapsible.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/swiper.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/circle-progress.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.countTo.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/custom.js' %}"></script>
</body>
</html>